body {
    width: 100%;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 2px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

header ul li a:hover {
    color: lightgray;
}

.main {
    background-color: #333;
    color: white;
    
    margin: 30px;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.projetos{
    margin: 30px;
    text-align: center;
    /*border: 1px solid blue;*/
    display: flex;
    align-items: center;
    justify-content: space-around ;
    
    
}


.sub-titulo h1 {
    font-size: 28px;
    font-weight: bold;
}

.sub-titulo span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    margin: 10px;
}

.sub-titulo span::before {
    content: "👋";
    margin-right: 5px;
}

.sub-titulo span::after {
    content: "💻🚀";
    margin-left: 5px;
}

/* Estilizar a seção dos projetos */
.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    
}

.projeto-item {
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.projeto-item img{
    width: 100%;
    height: auto;
}


.projeto-item:hover{
    background: darkseagreen;
}
.habi{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
/* Estilo para a foto redonda */
.foto-perfil {
    width: 200px; /* Defina o tamanho desejado para a largura da imagem */
    height: 200px; /* Defina o tamanho desejado para a altura da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Impede que a imagem se redimensione, cortando se necessário */
    border: 2px solid royalblue; /* Adicione uma borda para estilização (opcional) */
    margin: 10px;
  }
  
